body {
    background: url("../assets/stiftsbibliothek-abadia-st-gallen-suica-interno.jpg") no-repeat center center fixed;
    background-color: #cccccc;
    color:#cccccc;
    
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
   }