body {
    background: url("../assets/thumb-1920-411829.jpg") no-repeat center center fixed;
    background-color: #cccccc;
    
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
   }