body {
    background: url("../assets/abre-campo1.jpg") no-repeat center center fixed;
    color:white;
    
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
   }